#conditions {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, auto);

  h3 {
    position: absolute;
    z-index: 1;
    color: whitesmoke;
    padding-top: 3rem;
  }

  .medium {
    grid-column: span 4;
    grid-row: span 1;
    img {
      width: 100%;
    }
  }


  .hover img {
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .hover :hover img {
    -webkit-filter: grayscale(100%) blur(3px);
    filter: grayscale(100%) blur(3px);
  }

}