h1,
h2,
h3,
h4,
h5 {
  padding-top: 2rem;
}

section{
  padding-bottom: 2rem;
}

.heading{
  color: $headings;
}

body{
  background-color: whitesmoke;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.themed{
  background-color: $background;
}

.dim {
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}

#contact{
  .card {
    height: 200px;
  }
}
.card {
  height: 300px;
}

.card-img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}

.position-ref {
  position: relative;
}

//masthead - split out.
.horiz-align {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.title {
  //#636b6f old font
  font-size: 60px;
  color: #359497;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

//Hover image link fade out
.hover img {
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover :hover img {
  -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(100%) blur(3px);
}

//Navbar Styling
nav {
  background-color: $background;
}