//place this component within the master layout grid and declare new component grid.
#options {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, auto);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  h3 {
    position: absolute;
    z-index: 1;
    color: whitesmoke;
    padding-top: 3rem;
  }

  .large {
    grid-column: span 12;
  }

  .medium {
    grid-column: span 12;
  }

  .small {
    grid-column: span 12;
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .large {
      grid-column: span 6;
    }
    .medium {
      grid-column: span 12;
    }
    .small {
      grid-column: span 6;
    }
  }

  //fucking do something
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .large {
      grid-column: span 6;
      grid-row: span 4;

    }
    .medium {
      grid-column: span 6;
      grid-row: span 2;
    }
    .small {
      grid-column: span 3;
      grid-row: span 2;
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .large {
      grid-column: span 4;
      grid-row: span 12;
      height: 500px;
    }

    .medium {
      grid-column: span 4;
      grid-row: span 6;
      height: 250px;
    }

    .small {
      grid-column: span 2;
      grid-row: span 6;
      height: 250px;
    }
  }
}